
		    <table class="table table-hover">
    			<thead>
    				<tr>
    					<th>Name</th><th>Roles</th><th>Admin?</th><th></th>
    				</tr>
    			</thead>
    			<tbody>
    				<%= render partial: 'open_shifts_item', collection: @open_shifts %>
  					
    			</tbody>
    		</table>