<% @firm = Firm.find(params[:id]) %> 
<% @user = current_user %>

<div class="span6 offset3">
	
	<ul class="nav nav-pills">
    <li class="active">
    <a href="#">Staff</a>
    </li>
    <li><%= link_to "Invite", '/invite'%></li>
    </ul>
	<h1>Your network</h2>
		
		    <table class="table table-hover">
    			<thead>
    				<tr>
    					<th>Name</th><th>Roles</th><th>Admin?</th><th></th>
    				</tr>
    			</thead>
    			<tbody>
    				<%= render 'network_users' %>
    			</tbody>
    		</table>

	</div>
