<% @firm = Firm.find(params[:id]) %> 
<% @user = current_user %>

<div class="span3">
    <ul class="nav nav-pills nav-stacked">
    <li>
    <a href="network">Staff Contact Info</a>
    </li>
    <li><%= link_to "Staff Stats", "#" %></li>
    <li class="active"><%= link_to "User Permissions", "permissions" %></li>
    <li><%= link_to "Add people to your network (+)", '/invite'%></li>
    </ul>
</div>

<div class="span6">
	
	
	
		
		    <table class="table">
    			<thead>
    				<tr>
    					<th>Name</th><th>User type</th><th>Change</th><th style="text-align:center">Delete</th>
    				</tr>
    			</thead>
    			<tbody>
    				<%= render 'network_permissions' %>
    			</tbody>
    		</table>

	</div>
