<% @firm = Firm.find(params[:id]) %>
<div class="row-fluid">
	<div class="span6 offset3">
		

		<ul class="nav nav-pills">
    		<li class="active">
    			<a href="#"><%= "Open Shifts (#{@firm.shifts.find_all_by_fk_user_worker(nil).count})" %></a>
    		</li>
    	
    		<li><%= link_to "Requests (#{@shift_requests_items.length})", 'shiftrequests'%></li>
    		<li><%= link_to "New Shift (+)", '/newshift'%></i></li>
    	</ul>

    <% if @open_shifts_items.any? %>

       <%= render '/firms/open_shifts' %>
           

        <% else %>
            <div class="alert alert-info">
            There are no open shifts.
            
            </div>
        <% end %>
    
	</div>
</div>


<!-- previous method  - render 'open_shifts' -->