<body background="clouds1.jpg">

<div class="span6 offset3">
	<a href="home"><span class="lead" style="font-size:3em">ShiftCloud</span></a> <br><br>

	<h3 style="color: black; text-shadow: 1px 1px 1px white;">What is ShiftCloud and what can it do?</h3>

<div class="alert alert-info">
<h4>Check your schedules anywhere, any time.</h4>
<ul>
	<li>Annoyed about printing/emailing out schedules then reprinting every time they change? No need to do that
		with shift cloud - because your live shedules are online and visible to your managers and staff</li>
</ul>
</div>

<div class="alert alert-info">
<h4>Adding shifts is easy</h4>
<ul>
	<li>Option to make repeating shifts</li>
	<li>Copy existing shifts</li>
	<li>Different shift allocation types: first come first served, manager assigned, or closed.</li>
	<li>Managers can offer shifts to workers and workers can request available shifts</li>
</ul>
</div>

<div class="alert alert-info">
<h4>Mobile support</h4>
<ul>
	<li>The site works great on smart phones so your workers can check their schedules and respond to
		shift requests/offers on the move.</li>
</ul>
</div>

<div class="alert alert-info">
<h4>Email notifications</h4>
<ul>
	<li>Employees get email alerts whenever they are assigned shifts or offered shifts</li>
	<li>Automatic email alerts if a shift is cancelled or employee is removed from a shift</li>
</ul>
</div>

<div class="alert alert-info">
<h4>Employee availability</h4>
<ul>
	<li>The site tracks employee availability so managers know which staff are available for which shifts.</li>
</ul>
</div>

<div class="alert alert-info">
<h4>Want more information?</h4>
<ul>
	<li>Email <a href="mailto:alex@shiftcloud.co.uk">alex@shiftcloud.co.uk</a> if you have any questions or want to discuss in person.</li>
</ul>
</div>

</div>