<div class="row-fluid">
<div class="alert alert-info span6 offset3" style="padding:10px">
	<div class="span3" style="margin-top:8px;text-align:right">Existing User</div>
	
	<%= form_for(:session, url: sessions_path) do |f| %>
	<div class="span3" style="margin-top:5px"><%= f.text_field :email, placeholder: "email address" %></div>
	<div class="span3" style="margin-top:5px"><%= f.password_field :password, placeholder: "password" %></div>
	<div class="span3" style="margin-top:5px; padding-left:10px">  
		<%= f.submit "Sign in", class: "btn btn-medium btn-primary" %></div>
    <% end %>
</div>
</div>
</div>

<div class="row-fluid">
<a href="/findoutmore">
<div class="span6 offset3" style="text-align:center;border:1px solid gray;border-radius:5px;">
	<h1>Welcome to SC!</h1>
		<p style="text-align:center">SC makes managing your shifts easy.<br>
			<i class="icon-chevron-left"></i> Create shifts <i class="icon-chevron-right"></i><br>
			<i class="icon-chevron-left"></i> Communicate with staff <i class="icon-chevron-right"></i><br>
			<i class="icon-chevron-left"></i> Share your schedule <i class="icon-chevron-right"></i><br>
			<i class="icon-chevron-left"></i> Find out more <i class="icon-chevron-right"></i>
		</p>

</div>
</a>
</div>


<div class="row-fluid">
	<a href="/signup">
	<div class="span6 offset3" style="text-align:center;border:1px solid gray;border-radius:5px">
	<h1>Sign up for a new business account</h1>
		<p style="text-align:center">Choose this option if you're the business owner or shift manager.<br>
			<i class="icon-chevron-left"></i> 30 day free trial <i class="icon-chevron-right"></i><br>

		</p>
	</div>
	</a>
</div>

<div class="row-fluid">
	<a href="/signupuser">
	<div class="span6 offset3" style="text-align:center;border:1px solid gray;border-radius:5px">
	<h1>Sign up for a new user account</h1>
		<p style="text-align:center">Choose this option if your manager has invited you to join.<br>
			<i class="icon-chevron-left"></i> Click here <i class="icon-chevron-right"></i><br>
		</p>

	</div>
	</a>
</div>

</div>
