<% if signed_in? %>
 
<div class="span4 offset4">  
      
<!--        <%= render 'shared/user_info' %> -->
        <!-- probably want to change this to business info when it is available -->
        <%= render 'shared/shift_form' %>
    
 
<% else %>
 
    <h1>Please sign up or sign in before creating a new shift</h1>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
 
<% end %> 
</div>