<div class="span6 offset3">

	<a href="home"><span class="lead" style="font-size:2em">ShiftCloud</span></a><br><br>

	<h4>Reset your password</h4>
	You will receive a new password by email<br><br>
	<input type="email" id="emailaddress" placeholder="your email address" style="width:50%"><br>
	<div class="btn btn-medium" id="resetbutton" onClick="myFunction()">Reset</div>




</div>


<script>
function myFunction()
{
datevalue = document.getElementById("emailaddress").value
window.open('resetpasswordaction?email=' + datevalue,"_self");
}
</script>

