<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <strong>ShiftCloud</strong>
    <p>
      Go to <%= @url %> to log in, and make sure to change your password (<i class="icon-user"></i> Account -> Settings).<br>
      Your username is your email address - <%= @user.email %><br>
      Your password is <%= @password %>
    </p>
    <p>
      
    </p>
    <p></p>
  </body>
</html>