<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Your manager at <%= @firm.name %> <%= @firm.branch%> has signed you up to ShiftCloud - a new way to keep track of your shifts online</h4>
    <p>
      To get started please log in at http://www.shiftcloud.com/signin.<br>
      Your username is your email address - <%= @user.email %><br>
      Your password is <%= @password %>
    </p>
    <p>
      
    </p>
    <p></p>
  </body>
</html>