<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ShiftCloud, <%= @user.name %></h1>
    <p>
      You have successfully signed up to ....,
      Sign in using your email address <%= @user.email %> and the password you chose.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p></p>
  </body>
</html>