       <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>#</th><th>Role</th><th>Date</th><th>Time</th><th>Length</th>
    		</tr>
    	</thead>
    	<tbody>
    		<%= render partial: 'requests_item', collection: @requests_items %>
    	</tbody>
    </table>	