<div class="span6 offset3">

      <ul class="nav nav-pills">
       
        <li><a href="/shifts">My Shifts</i></a>
        </li>
      	 <li class="active"><a href="#">Available Shifts (<%= @availableshifts.length %>)</a></li>
        <li><%= link_to "Offers (#{@offers_items.length})", '/offers'%></li>
        <li><%= link_to "Requests (#{@requests_items.length})", '/requests'%></li>
        
        
      </ul>

       <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>#</th><th>Role</th><th>Date</th><th>Time</th><th>Length</th>
    		</tr>
    	</thead>
    	<tbody>


<%= render partial: 'availableshift', collection: @availableshifts %>

</tbody>
    </table>	

</div>