<div class="span6 offset3">

      <ul class="nav nav-pills">
       
        <li><a href="/shifts">My Shifts</i></a>
        </li>
      	 <li class="active"><a href="#">Available Shifts (<%= @availableshifts.length %>)</a></li>
        <li><%= link_to "Offers (#{@offers_items.length})", '/offers'%></li>
        <li><%= link_to "Requests (#{@requests_items.length})", '/requests'%></li>
        
        
      </ul>

       <table class="table table-hover">
    	<thead>
    		<tr>
    			<th><a href="#"></a>#</th><th>Role</th><th>Date</th><th>Time</th><th>Length</th>
          <th>
            <div class="request-circle-open" style="border:1px solid #77A8FC; 
            border-radius:100%; width:8px; height:8px; margin-bottom:5px"></div>
          </th>
    		</tr>
    	</thead>
    	<tbody>


<%= render partial: 'availableshift', collection: @availableshifts %>

</tbody>
    </table>	

</div>

<script>
$('tr').click( function() {
    window.location = $(this).find('a').attr('href');
}).hover( function() {
    $(this).toggleClass('hover');
});
</script>