<div class="span3">

<ul class="nav nav-pills nav-stacked">
       
         <li class="active"><a href="#">Available Shifts (<%= @availableshifts.length %>)</a></li>
        <li><%= link_to "Offers (#{@offers_items.length})", '/offers'%></li>
        <li><%= link_to "Requests (#{@requests_items.length})", '/requests'%></li>
        
        
      </ul>


</div>

<div class="span6">

      <% if @availableshifts.any? %>
       <table class="table table-hover">
    	<thead>
    		<tr>
    			<th><a href="#"></a>#</th><th>Role</th><th>Date</th><th>Time</th>
          <th style="text-align:center">Request</div>
          </th>
    		</tr>
    	</thead>
    	<tbody>


<%= render partial: 'availableshift', collection: @availableshifts %>

</tbody>
    </table>	

    <% else %>
    <div class="alert alert-info">There are no available shifts</div>
</div>
<% end %>

<script>
$('tr').click( function() {
    window.location = $(this).find('a').attr('href');
}).hover( function() {
    $(this).toggleClass('hover');
});
</script>