<div class="span3">
    <ul class="nav nav-pills nav-stacked">
    <li>
    <a href="userunavailable">Back to unavailable time</a>
    </li>
    
    </ul>
</div>

<div class="span6">

<%= render 'shared/unavailable_form' %>

</div>