<div class="span3">

<ul class="nav nav-pills nav-stacked">
       
        <li><a href='/availableshifts'>Available Shifts (<%= user_available_shifts_helper.length %>)</a></li>
        <li><%= link_to "Offers (#{@offers_items.length})", '/offers' %></li>
        <li class="active"><%= link_to "Requests (#{@requests_items.length})", '#'%></li>
        
        
      </ul>


</div>

<div class="span6">
<% if @requests_items.any? %>
<%= render 'requests_items' %>
<% else %>
<div class="alert alert-info">There are no outstanding requests</div>
<% end %>

</div>