<div class="span3">
 

    <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Upcoming Shifts (<%= @feed_items.length %>)</a></li>
    <li><a href="/pastshifts">Past Shifts (<%= @feed_items_past.length %>)</a></li>
    <li><a href="/allshifts">All Shifts (<%= @feed_items_all.length %>)</a></li>
    </ul>

</div>

<div class="span6">



      <%= render 'shared/feed' %>
  

</div>

<script>
$('tr').click( function() {
    window.location = $(this).find('a').attr('href');
}).hover( function() {
    $(this).toggleClass('hover');
});
</script>