<% @nuser = User.find(assignable_users_item.user_id) %>

<tr>
	<td><a href= <%= "assign_worker?workerid=#{@nuser.id}"%>><%= @nuser.name %></td>
	<td>col 2</td>
	<td>col 3</td>
	<td>col 4</td>

</td>



