<% @shift = Shift.find(params[:id]) %>
<%= form_for(@shift.shift_requests.build(worker_id: @user.id)) do |f| %>
  <div><%= f.hidden_field :worker_id %></div>
  <div><%= f.hidden_field :shiftx_id, value: @shift.id %></div>
  Shift is AVAILABLE <%= f.submit "Request Shift", class: "btn btn-medium btn-primary" %>
<% end %>