<% provide(:title, @title) %>

<div class="span3">
<ul class="nav nav-pills nav-stacked">
        
          <li><%= link_to "Back to shift info", @shift %></li>  
          <li><%= link_to "Back to all requests", shiftrequests_firm_path(@firm) %></li>      
        
      </ul>
</div>

<div class="span6">

      
      <h4><%= "#{pluralize(@shift_requests.length, "person")} requested this shift" %></h4>
      
      <% if @shift_requests.any? %>
        
        <table class="table">
          <thead>
            <tr>
              <th>Name</th><th>Prev 7d</th><th>Next 7d</th><th>action</th>
            </tr>
          </thead>
          <tbody>

             <%= render partial: 'shift_request', collection: @shift_requests %>
              
          </tbody>
        </table>
         <% end %>

    </div>
      